{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<section class="mw8 center">
    <h2 class="athelas ph3 ph0-l mb1 mt1">{{ book.title }}</h2>
    <article class="pv3 bt bb b--black-10 ph3 ph0-l">
        <div class="flex flex-column flex-row-ns">
            <div class="w-100 w-60-ns pr3-ns order-1">
                {% comment %} <a class="f3 link dim black athelas mt0 mb1" href="{{ book.get_absolute_url }}">{{
                    book.title }}</a> {% endcomment %}
                <p class="f5 f4-l lh-copy athelas">
                    {{ book.description }}
                </p>
            </div>
            <div class="pl3-ns order-2 mb2 mb0-ns w-100 w-40-ns">
                <p class="f5 f4-l athelas"><strong>Topic(s) covered:</strong> {{ book.display_book_topic }}</p>
                <a class="f5 link dim black f4-l athelas" href="{{book.book_url}}" target="_blank"><strong>Url:</strong> {{ book.book_url }}</a>
            </div>
        </div>
        <p class="f6 lh-copy gray mv0">By <span class="ttu">{{ book.author }}</span></p>
        <time class="f6 db gray mb1"> {{ book.date_added }}</time>
    </article>
</section>
{% endblock %}