<!DOCTYPE html>
<html lang="en">
<head>
    <title>Freeshelf {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block meta%}{% endblock %}
</head>
<body>
<header class="athelas">
<nav class="pa3 pa4-ns">
  <p class="black b f1 f-headline-ns tc db mb3 mb4-ns">FreeShelf</p>
  <div class="tc pb3">
    <a class="link dim black f6 f5-ns dib mr3" href="{% url 'index' %}">Home</a>
    {% if user.is_authenticated %}
    {% comment %} <a class="link dim black f6 f5-ns dib mr3" href="#">Account</a> {% endcomment %}
    <a class="link dim black underline-hover f6 f5-ns dib mr3" href="{% url 'auth_logout'%}">Logout - {{ user.get_username }}</a>
    {% else %}
    <a class="link dim black f6 f5-ns dib mr3" href="{% url 'auth_login'%}">Login / Register</a>
    {% endif %}
  </div>
</nav>
</header>
    <div>{% block content %}{% endblock %}</div>
</body>
</html>