<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>FREE Programming Books</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block header %}
    <nav class="pa3 pa4-ns">
    <a class="black b f1 f-headline-ns tc db mb3 mb4-ns">Free Programming Books!</a>
    <div class="tc pb3">
        <a class="gray f6 f5-ns dib mr3">Books by Categories:</a>
        <a class="link dim gray f6 f5-ns dib mr3" href="#">Python</a>
        <a class="link dim gray f6 f5-ns dib mr3" href="#">JavaScript</a>
        <a class="link dim gray f6 f5-ns dib" href="#">Django</a>
    </div>
    </nav>
    {% endblock %}
    </div>
</body>
</html>