{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<section class="mw8 center">
  <h2 class="athelas ph3 ph0-l mb1 mt1">Books</h2>
   <form method="GET" action="{url 'index' %}">
    <div>
    <h4>Search by Topic:</h4>
    {% for checkbox in topic_form.topic_choices %}
    <div>Choices: {{ checkbox }} </div>
    {% endfor %}
  </div>
  {% for book in books %}
  <article class="pv3 bt bb b--black-10 ph3 ph0-l">
    <div class="flex">
      <div class="w-100 pr3-ns order-2 order-1-ns">
        <a class="f3 link dim black athelas mt0 mb1" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        <p class="f5 f4-l lh-copy athelas">
          {{ book.description | truncatechars:100 }}
        </p>
      </div>
      {% comment %} <div class="pl3-ns order-1 order-2-ns mb2 mb0-ns w-100 w-40-ns">
        <img class="mt2 mb0" src="{{ book.picture }}" class="db">
        <p>{{book.get_absolute_url}}</p>
      </div> {% endcomment %}
    </div>
    <p class="f6 lh-copy gray mv0">By <span class="ttu">{{ book.author }}</span></p>
    <time class="f6 db gray mb1">{{ book.date_added }}</time>
  </article>
{% endfor %}
</section>
{% endblock %}